<a href="https://colab.research.google.com/github/Rangarajulokesh/DATA-MINING/blob/main/assignment_6_2303a51649.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

print("\n Data Encoding")
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone', 'Tablet', 'Laptop']}
df = pd.DataFrame(data)

label_encoder = LabelEncoder()
df['Product_Encoded'] = label_encoder.fit_transform(df['Product'])

one_hot_encoded = pd.get_dummies(df['Product'], prefix='Product')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

print("\n Creating Derived Columns (Age from Manufacturing Date)")
data = {
    'Model': ['A1', 'B2', 'C3', 'D4', 'E5'],
    'Manufacturing_Date': ['2018-06-10', '2015-09-23', '2020-11-15', '2017-04-05', '2019-12-30']
}
df = pd.DataFrame(data)

df['Manufacturing_Date'] = pd.to_datetime(df['Manufacturing_Date'])
current_year = datetime.now().year
df['Product_Age'] = current_year - df['Manufacturing_Date'].dt.year
print(df)

print("\n Grouping and Aggregating Data")
data = {
    'Store': ['Walmart', 'Walmart', 'BestBuy', 'BestBuy', 'Amazon', 'Amazon', 'Walmart', 'BestBuy', 'Amazon'],
    'Sales': [15000, 18000, 22000, 25000, 30000, 35000, 17000, 26000, 40000]
}
df = pd.DataFrame(data)

grouped = df.groupby('Store').agg({'Sales': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

pivot = df.pivot_table(index='Store', values='Sales', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

 Data Encoding
  Product  Product_Encoded  Product_Laptop  Product_Phone  Product_Tablet
0  Laptop                0            True          False           False
1   Phone                1           False           True           False
2  Tablet                2           False          False            True
3  Laptop                0            True          False           False
4   Phone                1           False           True           False
5  Tablet                2           False          False            True
6  Laptop                0            True          False           False

 Creating Derived Columns (Age from Manufacturing Date)
  Model Manufacturing_Date  Product_Age
0    A1         2018-06-10            7
1    B2         2015-09-23           10
2    C3         2020-11-15            5
3    D4         2017-04-05            8
4    E5         2019-12-30            6

 Grouping and Aggregating Data
Grouped Data:
           Sales
            sum          mean
Store
Amazon   105000  35000.000000
BestBuy   73000  24333.333333
Walmart   50000  16666.666667

Pivot Table:
             sum          mean
          Sales         Sales
Store
Amazon   105000  35000.000000
BestBuy   73000  24333.333333
Walmart   50000  16666.666667